/* home page CSS file */



/* Color Theme Swatches in Hex */
.john-king-LGCIWbBGnxQ-unsplash-1-hex { color: #C5D1D9; }
.john-king-LGCIWbBGnxQ-unsplash-2-hex { color: #0396A6; }
.john-king-LGCIWbBGnxQ-unsplash-3-hex { color: #026873; }
.john-king-LGCIWbBGnxQ-unsplash-4-hex { color: #A67153; }
.john-king-LGCIWbBGnxQ-unsplash-5-hex { color: #BFADA3; }

/* Color Theme Swatches in RGBA */
.john-king-LGCIWbBGnxQ-unsplash-1-rgba { color: rgba(197, 209, 217, 1); }
.john-king-LGCIWbBGnxQ-unsplash-2-rgba { color: rgba(3, 150, 166, 1); }
.john-king-LGCIWbBGnxQ-unsplash-3-rgba { color: rgba(2, 104, 115, 1); }
.john-king-LGCIWbBGnxQ-unsplash-4-rgba { color: rgba(166, 113, 83, 1); }
.john-king-LGCIWbBGnxQ-unsplash-5-rgba { color: rgba(191, 173, 163, 1); }





body {
  

 background-image: url(../img/john-king-LGCIWbBGnxQ-unsplash.jpg);
}


/* #brand {
  text-shadow: 0px 2px 3px #aaa; 
} */

/* #nav-bar, footer {
  background-color: rgba(137, 146, 151, 1);
  color: #4c4c4c;
} */

/* #nav-bar, footer {
  background-color: #d2e9e3;
  color: #191919;
} */

/* h3, h4, #brand {
  color: #4c4c4c;
} */

/* a { color: #4c4c4c } 
a:visited { text-decoration: none; color: #4c4c4c; }
a:hover { text-decoration: none; color: #4c4c4c; }
a:focus { text-decoration: none; color: #4c4c4c; }
a:hover, a:active { text-decoration: none; color: #4c4c4c } */

.jumbotron  {
  background-color: rgba(197, 209, 217, .9);
  color: #4c4c4c;
  border: 2px solid #4c4c4c;
} 



#chart, #grid {
  background-color:  rgba(197, 209, 217, 1.0);
  color: #4c4c4c;
  /* border: 2px solid #4c4c4c; */
}

caption {
  color: #4c4c4c
}  

table td, table th {
  border:  1px solid #4c4c4c;
}

/* Myles */
/* table tr:hover {
  background-color: #0396A6;
} */


table th {
  background-color: #0396A6;
  color: #4c4c4c;
}
