/* home page CSS file */

/* Color Theme Swatches in Hex */
.drew-beamer-xU5Mqq0Chck-unsplash-1-hex { color: #3C5973; }
.drew-beamer-xU5Mqq0Chck-unsplash-2-hex { color: #0367A6; }
.drew-beamer-xU5Mqq0Chck-unsplash-3-hex { color: #8DD5F2; }
.drew-beamer-xU5Mqq0Chck-unsplash-4-hex { color: #F2D479; }
.drew-beamer-xU5Mqq0Chck-unsplash-5-hex { color: #F2A35E; }

/* Color Theme Swatches in RGBA */
.drew-beamer-xU5Mqq0Chck-unsplash-1-rgba { color: rgba(60, 89, 115, 1); }
.drew-beamer-xU5Mqq0Chck-unsplash-2-rgba { color: rgba(3, 103, 166, 1); }
.drew-beamer-xU5Mqq0Chck-unsplash-3-rgba { color: rgba(141, 213, 242, 1); }
.drew-beamer-xU5Mqq0Chck-unsplash-4-rgba { color: rgba(242, 212, 121, 1); }
.drew-beamer-xU5Mqq0Chck-unsplash-5-rgba { color: rgba(242, 163, 94, 1); }

/* Color Theme Swatches in HSLA */
.drew-beamer-xU5Mqq0Chck-unsplash-1-hsla { color: hsla(208, 31, 34, 1); }
.drew-beamer-xU5Mqq0Chck-unsplash-2-hsla { color: hsla(203, 96, 33, 1); }
.drew-beamer-xU5Mqq0Chck-unsplash-3-hsla { color: hsla(197, 79, 75, 1); }
.drew-beamer-xU5Mqq0Chck-unsplash-4-hsla { color: hsla(45, 82, 71, 1); }
.drew-beamer-xU5Mqq0Chck-unsplash-5-hsla { color: hsla(27, 85, 65, 1); }





body {
  background-image: url(../img/drew-beamer-xU5Mqq0Chck-unsplash.jpg);
}

/* #nav-bar, footer {
  background-color: rgba(98, 149, 169, 1);
  color: #3C5973;
}

/* #brand {
  text-shadow: 0px 2px 3px #aaa; 
} */

/* h3, h4, #brand {
  color: #3C5973;
} */ 

/* a { color: #3C5973 } 
a:visited { text-decoration: none; color: #3C5973; }
a:hover { text-decoration: none; color: #3C5973; }
a:focus { text-decoration: none; color: #3C5973; }
a:hover, a:active { text-decoration: none; color: #3C5973 } */

.jumbotron  {
  background-color: rgba(141, 213, 242, .9);
  color: #3C5973;
  border: 2px solid #F2D479;
} 



#chart, #grid, .invest-type, .invest-type:focus {
  background-color:  rgba(141, 213, 242, 1.0);
  color: #3C5973;
  /* border: 2px solid #F2D479; */
}

caption {
  color: #3C5973;
}  

table td, table th {
  border:  1px solid #F2D479;
}

.invest-type {
  border: none;
  border-bottom:  1px solid #F2D479;
  ;
}

/* table tr:hover {
  background-color: #0367A6;
  color: #e5e5e5;
} */


table th {
  background-color: #0367A6;
  color: #e5e5e5;
}


