/* home page CSS file */

* {
  box-sizing: border-box;
}

/* to be used for nav bar re-write */
/* body {
  padding-top: 70px;
} */

body {
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: center;
  width: 100%;
  height: 100%;
  max-height: 3072px;
  /* margin-left: auto;
  margin-right: auto;
  padding-top: 40px; */

}


h3, h4 {
  text-align: center;
}

/* h3, h4, #brand { */
  /* color: #191919; */
  /* color: #1F9376; */
/* } */

.brand, .brand-hdr {
  padding: 5px 5px 5px 0px;
  font-size: 70px;
  font-weight: bold;
  text-shadow: 1px 1px rgba(255,255,255,0.8);
  color: #1F9376;
  }



.brand-on-dark {
  padding: 5px 5px 5px 0px;
  font-size: 70px;
  font-weight: bold;
  /* text-shadow: 0px 2px 1px #ffffff;  */
  text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
  /* text-shadow: -2px -2px 1px #000000;  */
  color: #1F9376;
  /* background-color: #8fc9ba;
  height: 100px; */
  }

    

.brand-rule {
  border-top: 2px solid #1F9376;
  width: 90%;
 }


#nav-bar, footer {
  background-color: #e5e5e5 !important;
  /* background-color: #d2e9e3; */
  /* background-color: rgba(111, 125, 133, 1); ; */
  color: #191919;
}

#navbarCollapse {
  /* margin-top: 20px; */
  margin-bottom: 10px;

}

#nav-bar {
  /* height: 130px; */
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  /* z-index: 10; */ 
}

/* .navbar-toggler, .navbar-toggler-icon{
  z-index: 11;
  background-color: grey;
} */

#nav-line {
  margin-top: 2px;
}



/* #nav-div {
  float: right;
} */

.nav-item {
  font-size: 16px;
  color: #191919;
}


.tag-line, .tag-line-hdr {
  color: #1F9376;
  font-size: 20px;
  font-weight: 800;
  padding-bottom: 2px;
  border-bottom: 2px solid #1F9376;
  width: 432px;
  margin-top: 42px;
  margin-left: 4px;
  text-shadow: 1px 1px rgba(255,255,255,0.8);
 }


 footer {
  /* background-color: #ffffff; */
  /* background-color: rgba(149, 187, 191,1); */
  /* color: white; */
  height: 50px;
  position: relative;
  top: 920px;
  z-index: 2;
}

#footer-text {
  display: block;
  float: right;
  padding-top: 10px;
  padding-right: 5px;
}

#footer-user-label, #logged-user {
  float: left;
  margin-top: 8px;
  margin-left: 10px;
  font-size: 16px;
  color: #191919;
} 

#footer-id-label, #logged-id, 
#footer-model-id-label, #footer-model-id {
  float: left;
  margin-top: 8px;
  margin-left: 10px;
  font-size: 16px;
} 

#logged-user  {
  font-weight: 700;
  color: #1F9376;
}

#footer-id-label:hover {
  cursor: pointer;
}


#main-section {
  width: 100%;
  height: 600px;
  background-color: white;
  position: fixed;
  top: 170px;
  margin: 0 auto ;
  z-index: 1;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .5), 0 8px 26px 0 rgba(0, 0, 0, 0.46);
}

.carousel-item {
  height: 600px;
  width: 100%;
}

.carousel-control-prev, .carousel-control-next {
  width: 30px;
}




.slide-body {
  /* padding: 10px; */
  /* padding-left: 40px;
  padding-right: 40px; */
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  background-color: #ffffff;
}

#first-slide {
  background-color: lightsteelblue;
}

.slide-left {
  height: 600px;
  /* margin-left: 20px; */
  border-top: solid 1px #e5e5e5;
  border-bottom: solid 1px #e5e5e5;
  padding: 15px 25px 30px 25px;
}

.slide-right {
  background-color: lightblue;
  height: 600px;
  /* margin-right: 20px; */
  border-top: solid 1px #e5e5e5;
  border-bottom: solid 1px #e5e5e5;
  padding: 15px 25px 30px 25px;
}

.slide-center {
  background-color: lightblue;
  height: 600px;
  /* margin-left: 20px;
  margin-right: 20px; */
  border-top: solid 1px #e5e5e5;
  border-bottom: solid 1px #e5e5e5;
}
/* 
#slide1-l-img {
  width: 100%;
  height: 100%;
} */

.slides {
  background-size: cover;
  background-origin: center;
  color: #e5e5e5;
  border-top: solid 1px #e5e5e5;
  border-bottom: solid 1px #e5e5e5;
}

#slide-1-left {

  /* background-size: cover;
  background-origin: center; */

  background-image:  
    linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url("../img/sabine-peters-4IqiPGAuTVE-unsplash.jpg");

  /* color: #e5e5e5;
  border-top: solid 1px #e5e5e5;
  border-bottom: solid 1px #e5e5e5; */
}


#slide-2-left {
  background-image:  
    linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    /* url("../img/david-iskander-iWTamkU5kiI-unsplash-2.jpg"); */
    url("../img/stil-N9uOrBICcjY-unsplash.jpg");
}


#slide-3-left {
  background-image:  
    linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url("../img/jen-theodore-fqkaMzeGk7E-unsplash4.jpg");
}

#slide-4-left {
  background-image:  
    linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url("../img/haley-phelps-twoahjAsoO4-unsplash2.jpg");
}

#slide-5-left {
  background-image: 
    linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url("../img/markus-spiske-3Tf1J8q9bBA-unsplashNYTimes.jpg");
}

#slide-2-right, #slide-3-right, #slide-4-right, #slide-5-right {
  background-color: #e5e5e5;
  /* background-color: #a5d3c8; */
}

#slide-chart {
  /* border-right: solid 1px #e5e5e5; */
  border-top: solid 1px #e5e5e5;
  border-bottom: solid 1px #e5e5e5;
  background-color: #cccccc;
}

/* .carousel-item:nth-child(1) {
  background-color: blue;
}
.carousel-item:nth-child(2) {
  background-color: red;
}
.carousel-item:nth-child(3) {
  background-color: green;
} */

/* #lower-frame {
  margin: 5px 
  border-radius: 1rem;
} */
.big-text40 {
  font-size: 40px;
  font-weight: 700;
}

.big-text24 {
  font-size: 30px;
  font-weight: 700;
}

#lower-section {
  height: 900px;
  /* text-align: center;
  padding: 50px 0px;
  margin:0; */
  z-index: 2;
  position: relative;
  top: 820px;

}

/* .jumbotron  {
  border-radius: 1rem;
  padding: 32px;
}  */

/* h1 {
  text-align: center;
  font-weight: bold;
  letter-spacing: .15em;
} */


#nav-bar, #chart, #grid , #footer-bar, #lower-frame, .custom {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .5), 0 8px 26px 0 rgba(0, 0, 0, 0.46);
}
#chart, #grid {
  width: 90%;
  /* border-radius: 1rem; */
  /* margin-top: 20px; */
  margin: 20px auto 20px auto;
  padding: 32px;
}

#grid {
  margin-top: 50px;
  padding-top: 0px;
}

#grid-table {
width: 100%;  
margin: 0 auto;
}

#test-btn, #save-btn {
  margin-top: 20px;
  /* margin-left: 8px; */
  margin-right: 30px;
  width: 200px;
}

#help-btn {
  margin-top: 20px;
  /* margin-left: 8px; */
  margin-right: 30px;
  width: 100px;
}

#table-div {
  overflow-x:auto
}
caption {
  padding-top: 0px;
  caption-side: top;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}  

table {
  margin: 16px;

}

table td, table th {
  padding: 4px;
  text-align: center;
}

/* Myles */
/* #grid-table tr:hover {
  font-weight: bold;
} */


table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  font-weight: bold;
}

        a.nav-link:hover {
          border-bottom: 2px solid #1F9376;
     

        }

        a.nav-link { color: #191919 } 
        a.nav-link:visited { text-decoration: none; color: #191919; }
        a.nav-link:hover { text-decoration: none; color: #1F9376; }
        a.nav-link:focus { text-decoration: none; color: #191919; }
        a.nav-link:hover, a.nav-link:active { text-decoration: none; color: #191919 }
        a.nav-link.disabled { color: #acacac}

/* #your-charts {
  color: #acacac;
} */
/* a.nav-link:nth-child(1) {
  margin-left: 8px;
} */

/* #your-charts {
  padding-bottom: 4px;

} */

        a.nav-link {
          font-size: 16px;
          padding-bottom: 2px;
          margin-right: 20px;
          border-bottom: 2px solid #e5e5e5;
          color: #191919;

          /* padding-top: 30px;
          padding-bottom: 4px;
          border-bottom: 2px solid #e5e5e5; */

        }

        .active-nav-link {
          font-weight: 700;
          color: #1F9376 !important;
          border-bottom: 2px solid #1F9376 !important;
        }

        a.nav-link.disabled { color: #acacac !important}

#wallpaperDropdown, #signinDropdown, #your-charts {
  padding-bottom: 2px;
}  

#wallpaperDropdown {
  margin-right: 50px;
}

#login-modal .form-group {
  width: 300px;
  margin: 0 auto;
}

#login-modal .tag-line, #logout-modal .tag-line, #load-models-modal .tag-line {
  margin-right: 150px;
}

#logout-msg {
  margin-top: 0px;
  margin-left: 250px;
}

#load-models-msg {
  margin-top: 20px;
  margin-left: 250px;
}

.model-plan-item:hover, #brand-logo, #jump-to-signup {
  cursor: pointer;
}

#brand-logo {
  /* width: 800px; */
  height: 100px;
  margin-bottom: 15px;
}

#model-table-div {
  overflow: auto;
}

#signup-msg {
  margin-left: 250px;
  margin-bottom: 20px;
}

.modal-header {
  padding-bottom: 0px
}

.modal-body {
  padding: 0px
}

#login-submit, #logout-submit {
  margin-right: 133px;
  margin-left: 250px;
  margin-top: 10px;
  width: 80px;
}

#login-close, #logout-close {
  margin-right: 235px;
  margin-top: 10px;
  width: 80px
}
#load-models-close {
  margin-left: 250px;
  margin-top: 10px;
  width: 80px
}

#model-table {
  margin: 0 auto;
  width: 80%;
}

#login-msg {
  margin-top: 10px;
  margin-left: 250px;
  margin-bottom: 10px;
  color: #ff1919;
}

#user-name {
  margin-bottom: 30px;
}
.custom {
  background-color: #e5e5e5;
  color: #191919;
  /* width: 800px; */

  /* border: 2px solid #FFC61e;
  border-radius: 1rem; */
}

#logged-user {
  margin-right: 20px;
}

#test-btn, #help-btn, #new-model-btn {
  /* border: 1px solid #4892c4;
  border-radius: .3rem; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 6px 20px 0 rgba(0, 0, 0, 0.10); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39); 
}

#new-model-btn {
  margin-top: 20px;
  /* margin-left: 8px; */
  margin-right: 0px;
  width: 200px;
  float: right;
}

#jump-to-signup {
  color: blue;
}

.bullet {
  text-align: left;
  line-height: 1.5em;
}

#grid-below-links {
  margin-bottom: 0px;
}

.bullet-link {
  text-align: left;
  font-size: 16px;
  line-height: 20%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.bullet-link-2 {
  text-align: left;
  font-size: 24px;
  line-height: 1.5em;
}

.rule-before-links {
  margin-bottom: 0px;
}

.red-text {
  color: #ff4c4c;
}

.yellow-text {
  color: yellow;
}

.green-text {
  color: #00cd00;
}


caption:hover, td[contenteditable=true]:hover {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);  */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);  */

  box-shadow:  0 -4px 10px 0 rgba(0, 0, 0, 0.4), 0 4px 10px 0 rgba(0, 0, 0, 0.4); 
  cursor: pointer;
}

caption:focus, td[contenteditable=true]:focus {
  cursor: default;
} 

.model-plan-item:hover {
  box-shadow:  0 -4px 10px 0 rgba(0, 0, 0, 0.4), 0 4px 10px 0 rgba(0, 0, 0, 0.4); 
  cursor: pointer;

}


.diagnostic-show {
  /* background-color: #00cd00; */
  color: #191919;
}

.diagnostic-hide {
  /* background-color: red; */
  color: #e5e5e5;
}


/* media query section */

/****************************************************************************/
/*** Media Query Section                                                  ***/
/****************************************************************************/
/* resize nav item margins */
@media screen and (max-width: 1439px), screen and (max-height: 820px) {
 
  .brand-hdr {
    font-size:  50px;
  }

  .brand-on-dark {
    font-size: 50px;
  }

  #brand-logo {
    margin-top: 44px;
  }

  .tag-line-hdr {
    font-size: 15px;
    width: 336px;
    margin-top: 41px
  }

  h1 {
    font-size: 28px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  .big-text40 {
    font-size: 22px;
  }

  .big-text24 {
    font-size: 18px;
  }

  .bullet-link {
    font-size: 12px;
  }

  /* .bullet-link-2 {
    font-size: 18px;     
    line-height: 1.5em;
  } */

  .bullet-link-2 {
    font-size: 14px;     
    line-height: 1.5em;
  }

  .bullet {
    line-height: 1.2em;
    margin-bottom: 0px;
  }

  .bullet-link {
    line-height: 20%;
  }

  a.nav-link, #footer-user-label, #logged-user
  {
    font-size: 14px;
    margin-right: 10px;
  }

  .bullet-sm {
    font-size: 12px;
  }

  /* #main-section, .carousel-item, .slide-left, .slide-center, .slide-right {
    height: 550px;
  } */

  #main-section, .carousel-item, .slide-left, .slide-center, .slide-right {
    height: 460px;
  }

  #model-img {
    width: 97%;
  }

}



