/* home page CSS file */


/* Color Theme Swatches in Hex */
.yux-xiang-AATLGHDZrJY-unsplash-1-hex { color: #4F6F8C; }
.yux-xiang-AATLGHDZrJY-unsplash-2-hex { color: #7C92A6; }
.yux-xiang-AATLGHDZrJY-unsplash-3-hex { color: #455559; }
.yux-xiang-AATLGHDZrJY-unsplash-4-hex { color: #8C884F; }
.yux-xiang-AATLGHDZrJY-unsplash-5-hex { color: #737046; }

/* Color Theme Swatches in RGBA */
.yux-xiang-AATLGHDZrJY-unsplash-1-rgba { color: rgba(79, 111, 140, 1); }
.yux-xiang-AATLGHDZrJY-unsplash-2-rgba { color: rgba(124, 146, 166, 1); }
.yux-xiang-AATLGHDZrJY-unsplash-3-rgba { color: rgba(69, 85, 89, 1); }
.yux-xiang-AATLGHDZrJY-unsplash-4-rgba { color: rgba(140, 136, 79, 1); }
.yux-xiang-AATLGHDZrJY-unsplash-5-rgba { color: rgba(115, 112, 70, 1); }


body {
  background-image: url(../img/yux-xiang-AATLGHDZrJY-unsplash.jpg);
}

/* #nav-bar, footer {
  background-color: rgba(48,59,62, 1); ;
  color: #e5e5e5;
}

#brand {
  text-shadow: 0px 2px 3px #555; 
}

h3, h4, #brand  {
  color: #e5e5e5;
} */

.dropdown-menu.a { text-decoration: none; color: #191919 !important; }
.dropdown-menu.a:visited { text-decoration: none; color: #191919 !important; }
.dropdown-menu.a:hover { text-decoration: none; color: #191919 !important; }
.dropdown-menu.a:focus { text-decoration: none; color: #191919 !important; }
.dropdown-menu.a:hover, a:active { text-decoration: none; color: #191919 !important}

/* a { color: #e5e5e5 } ß
a:visited { text-decoration: none; color: #e5e5e5; }
a:hover { text-decoration: none; color: #e5e5e5; }
a:focus { text-decoration: none; color: #e5e5e5; }
a:hover, a:active { text-decoration: none; color: #e5e5e5 } */

.jumbotron  {
  background-color: rgba(69, 85, 89, .9); ;
  color: #e5e5e5;
  border: 2px solid #4F6F8C;
} 



#chart, #grid {
  background-color:  rgba(69, 85, 89, .9);
  color: #e5e5e5;
  /* border: 2px solid #8C884F; */
}

caption {
  color: #e5e5e5;
}  

table td, table th {
  border:  1px solid #8C884F;
}

table tr:hover {
  background-color: #737046;
}


table th {
  background-color: #737046;
  color: #e5e5e5;
}



