/* home page CSS file */



.sean-o-KMn4VEeEPR8-unsplash-1-hex { color: #95BBBF; }
.sean-o-KMn4VEeEPR8-unsplash-2-hex { color: #027373; }
.sean-o-KMn4VEeEPR8-unsplash-3-hex { color: #6FBFBF; }
.sean-o-KMn4VEeEPR8-unsplash-4-hex { color: #F2D5BB; }
.sean-o-KMn4VEeEPR8-unsplash-5-hex { color: #D9B4A7; }


.sean-o-KMn4VEeEPR8-unsplash-1-rgba { color: rgba(149, 187, 191, 1); }
.sean-o-KMn4VEeEPR8-unsplash-2-rgba { color: rgba(2, 115, 115, 1); }
.sean-o-KMn4VEeEPR8-unsplash-3-rgba { color: rgba(111, 191, 191, 1); }
.sean-o-KMn4VEeEPR8-unsplash-4-rgba { color: rgba(242, 213, 187, 1); }
.sean-o-KMn4VEeEPR8-unsplash-5-rgba { color: rgba(217, 180, 167, 1); } 




body {
  background-image: url(../img/sean-o-KMn4VEeEPR8-unsplash.jpg);
}

#brand {
  text-shadow: 0px 2px 3px #999; 
}

#nav-bar, footer {
  background-color: rgba(104, 130, 133, 1); ;
  color: #4c4c4c;
}

a { color: #4c4c4c } 
a:visited { text-decoration: none; color: #4c4c4c; }
a:hover { text-decoration: none; color: #4c4c4c; }
a:focus { text-decoration: none; color: #4c4c4c; }
a:hover, a:active { text-decoration: none; color: #4c4c4c }

.jumbotron  {
  background-color: rgba(149, 187, 191, .8); ;
  color: #4c4c4c;
  border: 2px solid #4c4c4c;
} 

h3, h4, #brand  {
  color: #4c4c4c;
}

#chart, #grid {
  background-color:  rgba(217, 180, 167, .8);
  color: #4c4c4c;
  /* border: 2px solid #4c4c4c; */
}

caption {
  color: #4c4c4c;
}  

table td, table th {
  border:  1px solid #4c4c4c;
}

table tr:hover {
  background-color: #d9bfa8;
}


table th {
  background-color: #d9bfa8;
  color: #4c4c4c;
}



