/* home page CSS file */
/* Color Theme Swatches in Hex */
.jesse-bowser-c0I4ahyGIkA-unsplash-1-hex { color: #69728C; }
.jesse-bowser-c0I4ahyGIkA-unsplash-2-hex { color: #D5E5F2; }
.jesse-bowser-c0I4ahyGIkA-unsplash-3-hex { color: #D99543; }
.jesse-bowser-c0I4ahyGIkA-unsplash-4-hex { color: #D98841; }
.jesse-bowser-c0I4ahyGIkA-unsplash-5-hex { color: #594031; }

/* Color Theme Swatches in RGBA */
.jesse-bowser-c0I4ahyGIkA-unsplash-1-rgba { color: rgba(105, 114, 140, 1); }
.jesse-bowser-c0I4ahyGIkA-unsplash-2-rgba { color: rgba(213, 229, 242, 1); }
.jesse-bowser-c0I4ahyGIkA-unsplash-3-rgba { color: rgba(217, 149, 67, 1); }
.jesse-bowser-c0I4ahyGIkA-unsplash-4-rgba { color: rgba(217, 136, 65, 1); }
.jesse-bowser-c0I4ahyGIkA-unsplash-5-rgba { color: rgba(89, 64, 49, 1); }



body {
  background-image: url(../img/jesse-bowser-c0I4ahyGIkA-unsplash.jpg);
}

/* #nav-bar, footer {
  background-color: rgba(73, 79, 98, 1); ;
  color: #D5E5F2;
}

#brand {
  text-shadow: 0px 2px 3px #e5eff7; 
}

h3, h4, #brand  {
  color: #D5E5F2;
} */

/* a { color: #D5E5F2 } 
a:visited { text-decoration: none; color: #D5E5F2; }
a:hover { text-decoration: none; color: #D5E5F2; }
a:focus { text-decoration: none; color: #D5E5F2; }
a:hover, a:active { text-decoration: none; color: #D5E5F2 } */

/* .dropdown-menu.a { text-decoration: none; color: #191919 !important; }
.dropdown-menu.a:visited { text-decoration: none; color: #191919 !important; }
.dropdown-menu.a:hover { text-decoration: none; color: #191919 !important; }
.dropdown-menu.a:focus { text-decoration: none; color: #191919 !important; }
.dropdown-menu.a:hover, a:active { text-decoration: none; color: #191919 !important} */



/* a { color: #191919 } 
a:visited { text-decoration: none; color: #191919; }
a:hover { text-decoration: none; color: #191919; }
a:focus { text-decoration: none; color: #191919; }
a:hover, a:active { text-decoration: none; color: #191919 } */

.jumbotron  {
  background-color: rgba(105, 114, 140, .9); ;
  color: #D5E5F2;
  border: 2px solid #D98841;
} 



#chart, #grid, #grid, .invest-type, .invest-type:focus {
  background-color:  rgba(105, 114, 140, 1.0);
  color: #D5E5F2;
  /* border: 2px solid #D98841; */
}

caption {
  color: #D5E5F2;
  border: 1px solid #D98841;
}  

table td, table th {
  border:  1px solid #D98841;
}

.invest-type {
  border: none;
  border-bottom:  1px solid #D98841;
}

/* table tr:hover {
  background-color: #594031;
} */


table th {
  background-color: #594031;
  color: #D5E5F2;
}



